<div class="container mx-auto px-4 py-8">
  <%= render "contexts/breadcrumbs" %>

  <div class="bg-white shadow-md rounded-lg p-6" data-controller="audio">
    <div class="flex items-center justify-between mb-6">
      <div>
        <button
          data-action="click->audio#playAll"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-4"
        >
          <svg class="h-6 w-6 inline-block mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 5v14l11-7L8 5z" fill="currentColor" />
          </svg>
          Play All
        </button>
        <button
          data-action="click->audio#stopAllAudio"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-4"
        >
          <svg class="h-6 w-6 inline-block mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6h12v12H6V6z" fill="currentColor" />
          </svg>
          Stop All
        </button>
      </div>
    </div>

    <% @sentences.each do |sentence| %>
      <%= render 'contexts/situations/sentence', sentence: sentence %>
    <% end %>
  </div>
</div>
